[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CANE"]
	path = CANE
	url = https://github.com/cran/CANE
[submodule "NPBBBDAefficiency"]
	path = NPBBBDAefficiency
	url = https://github.com/cran/NPBBBDAefficiency
[submodule "PhysioIndexR"]
	path = PhysioIndexR
	url = https://github.com/cran/PhysioIndexR
